<launch>
	<node name="laser_to_sonar"      type="laser_to_sonar.py" pkg="exercise_1"/>
	<node name="collision_avoidance" type="exercise_1.py"     pkg="exercise_1"/>
	<node name="record" pkg="rosbag" type="record" args="-O robot_path1 /p3dx/p3dx/base_pose_ground_truth"/>
	<include file="$(find exercise_1)/launch/gazebo4.launch"/>
</launch>
